@using BreakingNews.Service.ViewModels.Products;
@model NewViewModel
@{
    Layout = "_PostNewLayout.cshtml";
}
<div class="wrapper container">
    <form asp-area="administrator" asp-controller="administrator" asp-action="post" method="post">
        <div class=" container mt-5">
            <h4>Add Post</h4>
            <form id="addpost">
                <h5 class="mt-3">Tell me about your news name</h5>
                <input type="text" class="form-control mt-5 " placeholder="Enter name">
            </form>
        </div>

        <div class="addphoto container ">
            <h5 class="p-2 ">You can upload your news image:</h5>
            <div class="addimage-wrapper d-flex gap-5 ms-5 mt-5">
                <div class="image-area pt-5" id="display-img">
                    <img src="~/images/addpost.svg" width="40px" class="add-img" id="addimg">
                    <input type="file" id="image-input" accept="image/png, image/jpg">
                </div>
            </div>
        </div>

        <div class="addabout container">
            <h5 class="pb-4 pt-2">Write about News</h5>
            <input type="text" placeholder="Write here" class="about-input">
        </div>
        <button type="submit" class="btn btn-info text-light form-control mt-5">
            Ready
        </button>
    </form>
</div>