<!DOCTYPE html>
<html> 

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Abdulaziz</title>
    <link rel="stylesheet" href="main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Add Post</title>
</head>

<body style="background-color: #e1e1e1">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid" style="background-color: #e1e1e1; width: 2500px;">
            <a class="navbar-brand" href="#" style="color: black;">BreakingNews</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="administrator/post" style="color: black;">Post</a>
                    </li>
                    <li class="nav-item" style="margin-left: 10px; margin-top: 7px">
                        <a href="administrator/new" tabindex="-1" aria-disabled="true" style=" color: black">News</a>
                    </li>
                </ul>
                <div style="margin-left: 850px;">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="background-color: #e1e1e1; color: black; margin-left: 200px">
                    </form>
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <script src="~/js/site.js"></script>
</body>

</html>
